<%layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%=err.message%></h4>
            <p>There is an error, please re-check your code or enter a valid address. Thank You. </p>
            <p><%=err.stack%></p>
            </div>
    </div>
</div>