<% layout('layouts/boilerplate')%>
  <link rel="stylesheet" href="stylesheets/login.css">
  <div class="container-fluid d-flex justify-content-center align-items-center mt-0 p-0">
    <div class="card shadow bg-dark">
      <img src="https://images.unsplash.com/photo-1453791052107-5c843da62d97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8d29vZHN8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60" alt="" />
      <div class="card-body text-white bg-dark">
        <h3 class="card-title">Login</h3>
        <form action="/login" method="POST" class="validated-form" novalidate>
          <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" id="username" name="username" autofocus required>
            <div class="invalid-feedback">Oops! You forgot to name it!</div>
          </div>

          <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" required>
            <div class="invalid-feedback">Oops! You forgot to name it!</div>
          </div>
          <div class="d-grid">
            <button class="btn btn-success btn-block rounded-pill">Login</button>
          </div>
        </form>
      </div>
    </div>

  </div>
  <div class="container-fluid text-center">
    <p>Not on Travee? <a style="text-decoration: none;" href="/register">Sign up</a></p>
</div>
  <script src="/javascript/validator.js"></script>